<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_with model:@user, local:true do |f| %>
          <%= render "layouts/error_messages", model: f.object %>
          <p>ユーザー名</p>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"textfield" %>
          <p>プロフィール画像</p>
          <%= f.attachment_field :image %>
          <p>メールアドレス</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"textfield" %>
          <%= f.submit "保存", class:"submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>