<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= attachment_image_tag(@user, :image, format:"jpeg") %>
        <%= link_to @user.name, user_path(@user) %>
      </div>
      <p><%= @post.content %></p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <!--likeされたかどうか確認-->
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <span class="fa fa-heart like-btn-unlike"><%= link_to "いいね！済み", post_like_path(@post), method: :delete %></span>
      <% else %>
       <span class="fa fa-heart like-btn"><%=link_to "いいね！", post_like_path(@post), method: :post %></span>
      <% end %>

      <div class="post-menus">
        <% if @user == @current_user %>
          <%= link_to("編集", edit_post_path(@post)) %>
          <%= link_to "削除", post_path(@post), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>